body {
    background-color: cornflowerblue;
    border: 3px solid #bababa;
    /* border-radius: 80px; */
    /* padding: 250px 100px 230px 60px; */
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

html {
    /* border: 24px dashed red; */
    height: 100%;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.song-title {
    /* border: 1px solid; */
    font-weight: 900;
    font-size: 20px;
}

header, footer {
    /* flex: 1; */
    width: 100%;
    height: 90px;
    background: #698dcd;

}


header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

main {
    flex: 1;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    flex-direction: column;
}

header {
    border-bottom: .5px solid #8cace3;
    box-shadow: 0px 16px 15px #769de3;
}

footer {
    border-top: .5px solid #8cace3;
    box-shadow: 0px -14px 15px #769de3;
}

.search-wrapper {
    height: 100px;
    border: .5px solid #ffffff75;
    width: 100%;
    border-radius: 10px;
    padding: 29px 30px;
    display: flex;
    background: #ffffff3b;
    justify-content: flex-end;
    margin-bottom: 20px;
    /* flex: 1; */
    min-width: 550px;
}

.type-select-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.search-wrapper input[type=button] {
    width: 120px;
    color: #688dcd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 0px #969696;
}

.search-wrapper input[type=button]:hover {
    background: #e0ebff;
    box-shadow: 4px 5px 0px #bfd5fd;
}

.search-wrapper input[type=button]:active {
    box-shadow: none;
}

input[type="text"] {
    border: none;
    border-radius: 10px;
    color: #6495ec;
    flex: 1;
    margin-right: 0px;
    padding: 15px;
}

input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
}

div#result-list {
    flex: 1;
    overflow: auto;
}

.song-item-wrapper {
    display: flex;
    margin: 20px 0 0 0;
}

.song-item-wrapper > div {
    flex: 1;
}

.song-fields {
    margin: 0 0 0px 30px;
}